
Benedikt's update Newspaper/__MACOSX/._NewspaperGitSave-main 2
Benedikt's update Newspaper/__MACOSX/NewspaperGitSave-main 2/._.DS_Store
Benedikt's update Newspaper/__MACOSX/NewspaperGitSave-main 2/._.gitattributes
